<template>
<v-container>
  <v-row>
    <v-col
      cols="12"
      lg="3"
    >
      <v-container>
        <v-card>
         <v-card-title><b>Total Product</b></v-card-title>
         <v-card-actions>
           <v-spacer></v-spacer>
           1283 products
         </v-card-actions>
        </v-card>
      </v-container>
    </v-col>
    <v-col
      cols="12"
      lg="3">
      <v-container>
        <v-card>
          <v-card-title><b>Total Shop</b></v-card-title>
          <v-card-actions>
            <v-spacer></v-spacer>
            18 shops
          </v-card-actions>
        </v-card>
      </v-container>
    </v-col>
    <v-col
      cols="12"
      lg="3">
      <v-container>
        <v-card>
          <v-card-title><b>Total Order</b></v-card-title>
          <v-card-actions>
            <v-spacer></v-spacer>
            429 orders
          </v-card-actions>
        </v-card>
      </v-container>
    </v-col>
    <v-col
      cols="12"
      lg="3"
    >
      <v-card>
        <v-card-title><b>Available devices</b></v-card-title>
          <v-container>
            <v-table>
              <thead>
                <tr>
                  <th class="text-left">
                    Category
                  </th>
                  <th class="text-right">
                    No. of devices
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="category in equipmentAvailabilityCount"
                  :key="category.name"
                >
                  <td>{{ category.name }}</td>
                  <td class="text-right">{{ category.count }}</td>
                </tr>
              </tbody>
            </v-table>
          </v-container>

      </v-card>
    </v-col>
  </v-row>
  <v-row>
    <v-col
      cols="12"
      lg="4">
        <Bar
          :chart-options="chartOptions"
          :chart-data="chartbarData1"
          :width="300"
          :height="200"
        />
    </v-col>
    <v-col
      cols="12"
      lg="4">
        <Bar
          :chart-options="chartOptions"
          :chart-data="chartbarData2"
          :width="300"
          :height="200"
        />
    </v-col>
    <v-col
      cols="12"
      lg="4">
        <Bar
          :chart-options="chartOptions"
          :chart-data="chartbarData2"
          :width="300"
          :height="200"
        />
    </v-col>
  </v-row>
  <v-row>
    <v-col
      cols="12"
      lg="4">
        <Bar
          :chart-options="chartOptions"
          :chart-data="chartbarData3"
          :width="300"
          :height="150"
        />
    </v-col>
    <v-col
      cols="12"
      lg="4">
        <Bar
          :chart-options="chartOptions"
          :chart-data="chartbarData4"
          :width="300"
          :height="150"
        />
    </v-col>
    <v-col
      cols="12"
      lg="4">
        <Bar
          :chart-options="chartOptions"
          :chart-data="chartbarData4"
          :width="300"
          :height="150"
        />
    </v-col>
  </v-row>
</v-container>
</template>

<script>
import { ref, onMounted } from 'vue'
import { getEmployeesCount } from './employees/employee'
import { getEquipmentCount, getEquipmentAvailabilityCount } from './equipment/equipment';
import { Bar, Line} from 'vue-chartjs'

import { Chart as ChartJS, Title, Tooltip, Legend, BarElement, LineElement, CategoryScale, LinearScale } from 'chart.js'
ChartJS.register(Title, Tooltip, Legend, BarElement, LineElement, CategoryScale, LinearScale)

export default {
  name: 'BarChart',
  extends: Line,
  components: { Bar, Line},

  data() {
    return {
      chartbarData1: {
        labels: [ 'January', 'February', 'March', 'April', 'May', 'June' ],
        datasets: [
            {
              label: "Data One",
              data: [4, 20, 12, 15, 18, 32],
              backgroundColor: ['#8231b2']
            }
          ]
      },
      chartbarData2: {
        labels: [ 'January', 'February', 'March', 'April', 'May', 'June' ],
        datasets: [
            {
              label: "Data One",
              data: [24, 20, 32, 12, 25, 10],
              backgroundColor: ['#345ee7']
            }
          ]
      },
      chartbarData3: {
        labels: [ 'Honda', 'Yamaha', 'Suzuky', 'SYM' ],
        datasets: [
            {
              label: "Data One",
              data: [55, 20, 32, 14],
              backgroundColor: ['#3ac235']
            }
          ]
      },
      chartbarData4: {
        labels: [ 'Castrol', 'Motul', 'Shell', 'Repsol', 'Essenza' ],
        datasets: [
            {
              label: "Data One",
              data: [54, 10, 42, 15, 25],
              backgroundColor: ['#e1b28c', '#e89652', '#e08b4c', '#af6731', '#833d04']
            }
          ]
      },
      chartOptions: {
        responsive: true
      }
    }
  }
}

const equipmentCount = ref(0)
const employeesCount = ref(0)
const equipmentAvailabilityCount = ref({})

onMounted(async () => {
  equipmentCount.value = await getEquipmentCount()
  employeesCount.value = await getEmployeesCount()
  equipmentAvailabilityCount.value = await getEquipmentAvailabilityCount()
})
</script>