<template>
<v-container>
  <v-row
    align="center"
    justify="space-between"
  >
    <v-col
      cols="12"
      lg="3"
    >
      <v-select
        :items="data.categories"
        label="Categories"
        v-model="toolbarCategory"
        hide-details
      >
      </v-select>
    </v-col>
    <v-col
      cols="12"
      lg="3"
    >
      <v-select
        :items="data.employees"
        label="Shop"
        v-model="toolbarEmployee"
        hide-details
      >
      </v-select>
    </v-col>
    <v-spacer></v-spacer>
    <v-col
      cols="12"
      lg="3"
    >
      <v-text-field
        density="compact"
        hide-details
        label="Search serial number"
        prepend-inner-icon="mdi-magnify"
        variant="underlined"
        v-model="toolbarSerialNumber"
      >
      </v-text-field>
    </v-col>
    <v-col
      cols="12"
      md="3"
      lg="2"
      align="center"
    >
      <v-btn
        color="primary"
        @click="clickEditProduct({})"
      >Add Product</v-btn>
    </v-col>
  </v-row>
</v-container>

<v-container>
  <v-table
  >
    <thead>
      <tr>
        <th>Product name</th>
        <th>Product category</th>
        <th>Serial number</th>
        <th>Shop</th>
        <th>Price</th>
        <th>Brand</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr 
        v-for="product in filteredProduct"
        :key="product.id"
      >
        <td>{{ product.name }}</td>
        <td>{{ product.category.category }}</td>
        <td>{{ product.serialnumber }}</td>
        <td>{{ product.shop.nickname }}</td>
        <td>{{ product.price}}</td>
        <td>{{ product.brand}}</td>
        <td>
          <v-row
            justify="space-around"
            no-gutters
          >
            <v-col>
              <v-btn 
                size="small" 
                icon="mdi-pencil"
                color="success"
                variant="text"
                @click="clickEditProduct(product)"
              ></v-btn>
            </v-col>
            <v-col>
              <v-btn 
                size="small"
                icon="mdi-delete"
                color="error"
                variant="text"
                @click="clickDeleteProduct(product)"
              ></v-btn>
            </v-col>
          </v-row>
        </td>
      </tr>
    </tbody>
  </v-table>
</v-container>

<v-dialog 
  v-model="displayEditForm"
  :retain-focus="editFormFocus"
>
  <ProductForm
    :product="data.product"
    :categories="data.categories"
    :employees="data.employees"
    :fetchedCategories="fetchedCategories"
    :fetchedEmployees="fetchedEmployees"
    :cardTitle="formTitle"
    @closeDialog="displayEditForm = !displayEditForm"
    @openAddCategory="displayCategoryDialog = !displayCategoryDialog; editFormFocus = !editFormFocus"
    @eventSubmitProductForm="fetchProduct"
  />
</v-dialog>

<v-dialog v-model="displayDeleteDialog">
  <DeleteDialog
    @confirmDelete="confirmDeleteProduct"
    @closeDeleteDialog="displayDeleteDialog = !displayDeleteDialog"
  >
    <v-card-title>Delete product</v-card-title>
    <v-card-text>Product: <b>{{data.product.name}}</b></v-card-text>
    <v-card-text>Serial number: <b>{{data.product.serialnumber}}</b></v-card-text>
  </DeleteDialog>
</v-dialog> 


<v-dialog v-model="displayCategoryDialog">
  <CategoryForm
    @fetchCategories="fetchCategories"
    @closeCategoryDialog="displayCategoryDialog = !displayCategoryDialog"
    @focusEditForm="editFormFocus = !editFormFocus"
  >
  </CategoryForm>
</v-dialog>
</template>

<script setup>
import { 
  reactive, 
  ref, 
  onMounted,
  computed
} from 'vue'

import ProductForm from './ProductFrom.vue'
import CategoryForm from './CategoryForm.vue';
import DeleteDialog from '../../components/DeleteDialog.vue';

import {
  toggler
} from '../../utils'

import { 
  getProduct,
  deleteProduct, 
  filterProduct

} from './product'

import {
  getCategories, 
} from './category'

import { getEmployees } from '../employees/employee'

const data = reactive({
  'product': [],
  'categories': [],
  'employees': []
})


const formTitle = ref(null)

const fetchedCategories = ref(null)
const fetchedEmployees = ref(null)

const editFormFocus = ref(true)
const displayEditForm = ref(false)
const displayDeleteDialog = ref(false)
const displayCategoryDialog = ref(false)

const toolbarCategory = ref(undefined)
const toolbarEmployee = ref(undefined)
const toolbarSerialNumber = ref('')

onMounted(() => {
  fetchProduct()
  fetchCategories()
  fetchEmployees()
})

const fetchProduct = async () => {
  try {
    data.product = await getProduct()
  } catch (error) {
    console.log(error)
  }
}

const filteredProduct = computed(() => {
  console.log(9999, data.product)
  return filterProduct(
    data.product,
    toolbarCategory.value, 
    toolbarEmployee.value, 
    toolbarSerialNumber.value
  )
})

const fetchCategories = async () => {
  try {
    fetchedCategories.value = await getCategories()
    fetchedCategories.value.forEach(item => {
      if (!data.categories.includes(item.category)) {
          data.categories.push(item.category)
      }
    })
  } catch (error) {
    console.log(error)
  }
}

const fetchEmployees = async () => {
  try {
    fetchedEmployees.value = await getEmployees()
    fetchedEmployees.value.forEach(employee => {
      if (!data.employees.includes(employee.nickname) && employee.activestatus) {
        data.employees.push(employee.nickname)
      }
    })
  } catch (error) {
    console.log(error)
  }
}

const clickEditProduct = (chosenOne) => {
  formTitle.value = chosenOne.id 
    ? `Edit ${chosenOne.name} ${chosenOne.serialnumber}`
    : 'Add a new product'
  data.product = chosenOne
  toggler(displayEditForm)
}

const clickDeleteProduct = (chosenOne) => {
  data.product = chosenOne 
  toggler(displayDeleteDialog)
}

const confirmDeleteProduct = async () => {
  await deleteproduct(data.product.id)
  await fetchProduct()
  toggler(displayDeleteDialog)
}
</script>

<style>
body .v-dialog .v-overlay__content {
  max-height: 100vh;
}
</style>