<template>
<Alert v-model="displayAlert">
  {{ validationMessage }}
</Alert>

<BaseForm
  @submitForm="onSubmit"
  @closeDialog="$emit('closeDialog')"
>
  <template #title>
    {{ cardTitle }}
  </template>

  <template #formFields>
    <v-col cols="12">
      <v-text-field
        label="Product name"
        v-model="productData.name"
        :rules="[v => !!v || 'Product name is required!']"
        required
      ></v-text-field>
    </v-col>
  
    <v-col cols="10">
      <v-select
        :items="categories"
        label="Product category"
        v-model="selectedCategory"
        :rules="[v => !!v || 'Product category is required!']"
        required
      ></v-select>
    </v-col>
    <v-col>
      <v-btn 
        icon="mdi-plus"
        @click="$emit('openAddCategory')"
      ></v-btn>
    </v-col>
  
    <v-col cols="12">
      <v-text-field
        label="Serial number"
        v-model="productData.serialnumber"
        :rules="[v => !!v || 'Product serial number is required!']"
        required
      ></v-text-field>
    </v-col>
    <v-col cols="12">
      <v-text-field
        label="Description"
        v-model="productData.description"
        :rules="[v => !!v || 'Product description number is required!']"
        required
      ></v-text-field>
    </v-col>
    <v-col cols="12">
      <v-text-field
        label="Brand"
        v-model="productData.brand"
        :rules="[v => !!v || 'Product brand number is required!']"
        required
      ></v-text-field>
    </v-col>
    <v-col cols="12">
      <v-text-field
        label="Price"
        v-model="productData.price"
        :rules="[v => !!v || 'Product price is required!']"
        required
      ></v-text-field>
    </v-col>
    <v-col cols="12">
      <v-select
        :items="employees"
        label="Shop"
        v-model="selectedEmployee"
      ></v-select>
    </v-col>
  </template>
</BaseForm>
</template>

<script setup>
import { onMounted, ref } from 'vue'

import Alert from '../../components/Alert.vue';
import BaseForm from '../../components/BaseForm.vue';

import { 
  createProduct, 
  editProduct, 

} from './product'

import {
  getCategoryByName
} from './category'

import {
  getEmployeeByName
} from '../employees/employee'

const props = defineProps([
  'product', 
  'categories', 
  'employees',
  'cardTitle',
  'fetchedCategories',
  'fetchedShops'
])

const emits = defineEmits([
  'closeDialog', 
  'openAddCategory', 
  'eventSubmitProductForm'
])

const validationMessage = ref(null)
const displayAlert = ref(false)

const productData = ref({})

const selectedCategory = ref(null)
const selectedEmployee = ref(undefined)

onMounted(() => {
  setData()
})

const onSubmit = async () => {
  const categoryID = (await getCategoryByName(selectedCategory.value)).id
  const employeeID = selectedEmployee.value === undefined
    ? undefined
    : (await getEmployeeByName(selectedEmployee.value)).id

  let payload = {
    ...productData.value,
    'category': parseInt(categoryID)
  }

  if (employeeID !== undefined) {
    payload = {...payload, 'employee': parseInt(employeeID)}
  } else {
    delete payload.employee
  }

  try {
    if (productData.value.id === undefined) {
      await createDevice(payload)
    } else {
      await editDevice(payload)
    }
    emits('closeDialog')
    emits('eventSubmitDeviceForm')
  } catch (error) {
    validationMessage.value = (await error.json()).detail
    displayAlert.value = true
    setTimeout(() => {
      displayAlert.value = false
    }, 2000)
  }
}

const setData = () => {
  const incomingData = Object.assign({}, props.device)
  if (incomingData.id !== undefined) {
    productData.value = {
      ...incomingData
    }
    selectedCategory.value = incomingData.category.category
    selectedEmployee.value = incomingData.employee ? incomingData.employee.nickname : undefined
  }
}
</script>