<template>
<Alert :displayAlert="displayAlert">
  {{ validationMessage }}
</Alert>

<BaseForm
  @submitForm="onSubmit"
  @closeDialog="$emit('closeDialog')"
>
  <template #title>
    {{ cardTitle }}
  </template>

  <template #formFields>
    <v-col cols="12">
      <v-checkbox 
        label="Active" 
        v-model="customerData.activestatus"
      ></v-checkbox>
    </v-col>
    <v-col cols="12">
      <v-text-field 
        label="Nickname" 
        v-model="customerData.nickname"
        :rules="[v => !!v || 'Nickname is required']"
        required
      ></v-text-field>
    </v-col>
    <v-col cols="12">
      <v-text-field 
        label="Full name"
        v-model="customerData.fullname"
        :rules="[v => !!v || 'Fullname is required']"
        required
    ></v-text-field>
    </v-col>
    <v-col cols="12">
      <v-text-field 
        label="Mobile" 
        v-model="customerData.mobile"
        :rules="[v => /[0-9]{9,10}/.test(v) || 'Mobile number must be 9 or 10 digits']"
      ></v-text-field>
    </v-col>
    <v-col cols="12">
      <v-text-field 
        label="Email" 
        :rules="[v => /.+@.+\..+/.test(v) || 'Email must be formatted like examplel@mail.com']"
        v-model="customerData.email"
      ></v-text-field>
    </v-col>
  </template>
</BaseForm>
</template>

<script setup>
import { onMounted, ref } from 'vue'
import Alert from '../../components/Alert.vue';
import BaseForm from '../../components/BaseForm.vue';
import { createCustomer, editCustomer } from './customer'

const props = defineProps(['customer', 'cardTitle'])
const emits = defineEmits(['closeDialog', 'eventSubmitCustomerForm'])

const customerData = ref({'activestatus': true})
const displayAlert = ref(false)
const validationMessage = ref('')

onMounted(() => {
  setData()
})

const onSubmit = async () => {
  try {
    if (customerData.value.id === undefined) {
      await createCustomer(customerData.value)
    } else {
      await editCustomer(props.customer.id, customerData.value)
    }
    emits('closeDialog')
    emits('eventSubmitCustomerForm')
  } catch (error) {
    validationMessage.value = (await error.json()).detail
    displayAlert.value = true 
    setTimeout(() => { 
      displayAlert.value = false
    }, 2000)
  }
}

const setData = () => {
  const incomingData = Object.assign({}, props.customer)
  if (incomingData.id !== undefined) {
    customerData.value = {
      ...incomingData
    }
  }
}
</script>