<template>
<v-container>
  <v-row
    align="center"
    justify="end"
  >
    <v-col
      cols="12"
      lg="3"
    >
      <v-text-field
        density="compact"
        hide-details
        label="Search Customer"
        prepend-inner-icon="mdi-magnify"
        variant="underlined"
        v-model="searchTerm"
      >
      </v-text-field>
    </v-col>
    <v-col
     cols="12"
     md="3"
     lg="2"
     align="center"
    >
      <v-btn
        color="primary"
        @click="clickEditCustomer({})"
        id="add-button"
      >
        Add Customer
      </v-btn>
    </v-col>
  </v-row>
</v-container>

<v-container>
  <v-row wrap>
    <v-col
      v-for="customer in filteredCustomers"
      :key="customer.id"
      cols="12"
      sm="6"
      lg="3"
    >
      <v-card>
        <v-card-header>
          <v-card-header-text>
            <v-card-title>{{customer.fullname}}</v-card-title>
            <v-card-subtitle>{{customer.fullname}}</v-card-subtitle>
          </v-card-header-text>
  
          <v-card-avatar>
            <v-chip 
             :color="customer.activestatus ? 'green': 'red'"
             size="large"
            >
              {{customer.activestatus ? 'active' : 'inactive'}}
            </v-chip>
          </v-card-avatar>
        </v-card-header>
  
        <v-card-text>
          <span><v-icon>mdi-phone</v-icon> {{customer.mobile}}</span><br>
          <span><v-icon>mdi-email</v-icon> {{customer.email}}</span><br>
        </v-card-text>

        <v-card-actions>
          <v-btn
            color="success"
            @click="clickEditCustomer(customer)"
            id="edit-button"
            prepend-icon="mdi-pencil"
          >
            Edit
          </v-btn>
          <v-btn
            color="error"
            @click="clickDeleteCustomer(customer)"
            prepend-icon="mdi-delete"
          >
            Delete
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</v-container>

<v-dialog v-model="displayEditForm" id="edit-form"> 
  <CustomerForm
    :customer="data.customer"
    :cardTitle="formTitle" 
    @eventSubmitCustomerForm="fetchCustomers"
    @closeDialog="displayEditForm = !displayEditForm"
  />
</v-dialog>

<v-dialog v-model="displayDeleteDialog">
  <Alert :displayAlert="displayAlert">
    {{ alertMessage }}
  </Alert>
  <v-container>
    <DeleteDialog
      @confirmDelete="confirmDeleteCustomer"
      @closeDeleteDialog="displayDeleteDialog = !displayDeleteDialog"
    >
      <v-card-title>{{`Delete customer ${data.customer.nickname}`}}</v-card-title>
      <v-card-text>
          <span>{{`${data.customer.fullname}`}}</span><br>
          <span><v-icon>mdi-phone</v-icon>{{` ${data.customer.mobile}`}}</span><br>
          <span><v-icon>mdi-email</v-icon>{{` ${data.customer.email}`}}</span><br>
      </v-card-text>
    </DeleteDialog>
  </v-container>
</v-dialog>
</template>


<script setup>
import { onMounted, computed, ref, reactive } from 'vue'
import Alert from '../../components/Alert.vue'
import CustomerForm from './CustomerForm.vue'
import DeleteDialog from '../../components/DeleteDialog.vue';
import { getCustomers, deleteCustomer, filterCustomers } from './customer'
import { toggler } from '../../utils'

const data = reactive({
  'customers': [],
  'customer': null
})
const displayAlert = ref(false)
const alertMessage = ref(null)
const displayEditForm = ref(false)
const displayDeleteDialog = ref(false)
const formTitle = ref('')
const searchTerm = ref('')


const fetchCustomers = async () => {
  try {
    data.customers = await getCustomers()
  } catch (error) {
    console.log(error)
  }
}

const filteredCustomers = computed(() => {
  return filterCustomers(data.customers, searchTerm.value.toLowerCase())
})

const clickEditCustomer = (chosenOne) => {
  formTitle.value = chosenOne.id ? `Edit ${chosenOne.nickname} information` : 'Add a new customer'
  data.customer = chosenOne 
  toggler(displayEditForm)
}

const clickDeleteCustomer = (chosenOne) => {
  data.customer = chosenOne
  toggler(displayDeleteDialog)
}

const confirmDeleteCustomer = async () => {
  try {
    await deleteCustomer(data.customer.id)
    await fetchCustomers()
    toggler(displayDeleteDialog)
  } catch (error) {
    alertMessage.value = (await error.json()).detail
    displayAlert.value = true
    setTimeout(() => {
      displayAlert.value = false
    }, 2000)
  }
}

onMounted(() => {
  fetchCustomers()
})
</script>

<style>
body .v-dialog .v-overlay__content {
  max-height: 100%;
}
</style>