<template>
<v-container>
  <v-table
  >
    <thead>
      <tr>
        <th>Code</th>
        <th>Customer name</th>
        <th>Shop name</th>
        <th>Products</th>
        <th>Description</th>
        <th>Note</th>
        <th>Total Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr
        v-for="order in filteredOrders"
        :key="order.id"
      >
        <td>{{ order.id }}</td>
        <td>{{ order.customer.fullname }}</td>
        <td>{{ order.shop.fullname }}</td>
        <td>{{ order.product.name}}</td>
        <td>{{ order.description}}</td>
        <td>{{ order.note}}</td>
        <td>{{ order.total_price}}</td>
        <td>
          <v-row
            justify="space-around"
            no-gutters
          >
            <v-col>
              <v-btn
                size="small"
                icon="mdi-pencil"
                color="success"
                variant="text"
                @click="clickEditOrder(order)"
              ></v-btn>
            </v-col>
            <v-col>
              <v-btn
                size="small"
                icon="mdi-delete"
                color="error"
                variant="text"
                @click="clickDeleteOrder(order)"
              ></v-btn>
            </v-col>
          </v-row>
        </td>
      </tr>
    </tbody>
  </v-table>
</v-container>
</template>

<script setup>
import {
  reactive,
  ref,
  onMounted, computed
} from 'vue'

import {
  getOrders,filterOrders
} from './order'

const data = reactive({
  'orders': getOrders()
})
const searchTerm = ref('')
const fetchOrders = async () => {
  try {
    data.shops = await getOrders()
  } catch (error) {
    console.log(error)
  }
}

const filteredOrders = computed(() => {
  return filterOrders(data.shops, searchTerm.value.toLowerCase())
})

const fetchedCategories = ref(null)
const fetchedEmployees = ref(null)

const displayEditForm = ref(false)
const displayDeleteDialog = ref(false)
onMounted(() => {
  fetchOrders()
})

</script>

<style>
body .v-dialog .v-overlay__content {
  max-height: 100vh;
}
</style>