<template>
<v-container>
  <v-row
    align="center"
    justify="end"
  >
    <v-col
      cols="12"
      lg="3"
    >
      <v-text-field
        density="compact"
        hide-details
        label="Search SHOP"
        prepend-inner-icon="mdi-magnify"
        variant="underlined"
        v-model="searchTerm"
      >
      </v-text-field>
    </v-col>
    <v-col
     cols="12"
     md="3"
     lg="2"
     align="center"
    >
      <v-btn
        color="primary"
        @click="clickEditShop({})"
        id="add-button"
      >
        Add Shop
      </v-btn>
    </v-col>
  </v-row>
</v-container>

<v-container>
  <v-row wrap>
    <v-col
      v-for="shop in filteredShops"
      :key="shop.id"
      cols="12"
      sm="6"
      lg="3"
    >
      <v-card>
        <v-card-header>
          <v-card-header-text>
            <v-card-title>{{shop.fullname}}</v-card-title>
            <v-card-subtitle>{{shop.fullname}}</v-card-subtitle>
          </v-card-header-text>
  
          <v-card-avatar>
            <v-chip 
             :color="shop.activestatus ? 'green': 'red'"
             size="large"
            >
              {{shop.activestatus ? 'active' : 'inactive'}}
            </v-chip>
          </v-card-avatar>
        </v-card-header>
  
        <v-card-text>
          <span><v-icon>mdi-phone</v-icon> {{shop.mobile}}</span><br>
          <span><v-icon>mdi-email</v-icon> {{shop.email}}</span><br>
        </v-card-text>

        <v-card-actions>
          <v-btn
            color="success"
            @click="clickEditShop(shop)"
            id="edit-button"
            prepend-icon="mdi-pencil"
          >
            Edit
          </v-btn>
          <v-btn
            color="error"
            @click="clickDeleteShop(shop)"
            prepend-icon="mdi-delete"
          >
            Delete
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</v-container>

<v-dialog v-model="displayEditForm" id="edit-form"> 
  <ShopForm
    :shop="data.shop"
    :cardTitle="formTitle" 
    @eventSubmitShopForm="fetchShops"
    @closeDialog="displayEditForm = !displayEditForm"
  />
</v-dialog>

<v-dialog v-model="displayDeleteDialog">
  <Alert :displayAlert="displayAlert">
    {{ alertMessage }}
  </Alert>
  <v-container>
    <DeleteDialog
      @confirmDelete="confirmDeleteShop"
      @closeDeleteDialog="displayDeleteDialog = !displayDeleteDialog"
    >
      <v-card-title>{{`Delete shop ${data.shop.fullname}`}}</v-card-title>
      <v-card-text>
          <span>{{`${data.shop.fullname}`}}</span><br>
          <span><v-icon>mdi-phone</v-icon>{{` ${data.shop.mobile}`}}</span><br>
          <span><v-icon>mdi-email</v-icon>{{` ${data.shop.email}`}}</span><br>
      </v-card-text>
    </DeleteDialog>
  </v-container>
</v-dialog>
</template>


<script setup>
import { onMounted, computed, ref, reactive } from 'vue'
import Alert from '../../components/Alert.vue'
import ShopForm from './ShopForm.vue'
import DeleteDialog from '../../components/DeleteDialog.vue';
import { getShops, deleteShop, filterShops } from './shop'
import { toggler } from '../../utils'

const data = reactive({
  'shops': [],
  'shop': null
})
const displayAlert = ref(false)
const alertMessage = ref(null)
const displayEditForm = ref(false)
const displayDeleteDialog = ref(false)
const formTitle = ref('')
const searchTerm = ref('')


const fetchShops = async () => {
  try {
    data.shops = await getShops()
  } catch (error) {
    console.log(error)
  }
}

const filteredShops = computed(() => {
  return filterShops(data.shops, searchTerm.value.toLowerCase())
})

const clickEditShop = (chosenOne) => {
  formTitle.value = chosenOne.id ? `Edit ${chosenOne.fullname} information` : 'Add a new shop'
  data.shop = chosenOne 
  toggler(displayEditForm)
}

const clickDeleteShop = (chosenOne) => {
  data.shop = chosenOne
  toggler(displayDeleteDialog)
}

const confirmDeleteShop = async () => {
  try {
    await deleteShop(data.shop.id)
    await fetchShops()
    toggler(displayDeleteDialog)
  } catch (error) {
    alertMessage.value = (await error.json()).detail
    displayAlert.value = true
    setTimeout(() => {
      displayAlert.value = false
    }, 2000)
  }
}

onMounted(() => {
  fetchShops()
})
</script>

<style>
body .v-dialog .v-overlay__content {
  max-height: 100%;
}
</style>